html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

form {
  border: solid 1px silver;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
  justify-content: space-between;
  padding: 8px;
}

form label {
  display: flex;
  margin: 4px 8px;
  max-width: 450px;
  width: 100%;
}

form input {
  border: solid 1px #a9a9a9a9;
  border-radius: 4px;
  flex: 1 0 100px;
  margin-left: 8px;
  padding: 4px;
  width: 100%;
}

form button {
  background-color: #64b448;
  border-radius: 6px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 8px 24px;
  text-transform: uppercase;
  width: 50%;
}

.wrapper--button {
  display: flex;
  justify-content: center;
  margin: 8px auto;
  width: 100%;
}

p {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 2px 0;
}

section {
  margin: 1rem auto;
}

.wrapper {
  max-width: 60rem;
  margin: 0 auto;
}
